<div class="container">
    <form >
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label>Response</label>
                <select class="form-control">
                    <option>Pending</option>
                    <option>Approved</option>
                    <option>Deny</option>
                </select>

            </div>
        </div>
        
    </form>
</div>

<table  class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Descreption</th>
      <th scope="col">Time submitted</th>
      <th scope="col">Time Approved</th>
      <th scope="col">Receipt</th>
      <th>Deny</th>
      <th>Approve</th>
    </tr>
  </thead>
   <tbody>
     <tr>
       <th scope="row">1</th>
       <td>Mark</td>
       <td>Otto</td>
       <td>(Time)/td>
       <td>(Time)</td>
       <td><button>Receipt</button></td><!--TODO ADD FUNCTION FOR GETTING S3 BUCKET IMAGE FROM URL RETURNED BY DB-->      
        <td><button *ngIf="reimbursement.statusId == 1">Approved</button></td> 
        <td><button *ngIf="reimbursement.statusId == 1">Deny</button> </td>

     </tr>
   </tbody>
   </table>
