<div class="container">
    <form >
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label>Response</label>
                <select class="form-control">
                    <option>Pending</option>
                    <option>Approved</option>
                    <option>Deny</option>
                </select>

            </div>
        </div>
        
    </form>
</div>

<table  class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Descreption</th>
      <th scope="col">Time submitted</th>
      <th>Deny</th>
      <th>Commit</th>
    </tr>
  </thead>
   <tbody>
     <tr>
       <th scope="row">1</th>
       <td>Mark</td>
       <td>Otto</td>
       <td>@mdo</td>
       <td><button>Deny</button> </td>
       <td><button>Approved</button></td>
     </tr>
   </tbody>
   </table>
